@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Tangerine:wght@400;700&display=swap');


.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tangerine-regular {
  font-family: "Tangerine";
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine";
  font-weight: 700;
  font-style: normal;
}