*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/* Remove outline */
a,
button {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}


/* scrollbar.css */
::-webkit-scrollbar {
    width: 8px;
    /* width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* color of the track */
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* color of the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* color of the scrollbar on hover */
}

html {
    scroll-behavior: smooth;
}